@import './variables';

.next{
    display: flex;
    gap: 15px;
    width: 50vw;
    height: fit-content;
    padding: 1.2rem;
    border-top: transparentize(gray,.5) solid 1px;
    border-bottom: transparentize(gray,.5) solid 1px;
    background:$body-color;
    overflow: hidden;
    @include transition();
    &:hover {
        padding-left: 30px;
        cursor: pointer;
        background:#3f1f07;
        border: 1px solid rgb(210, 141, 13);
    }
    &-img{
        height: 70px;
        width: 130px;
        border: 1px solid transparentize(#fff, .5);
    }

    &-article {
        margin: 0.4rem;
        display: flex;
        flex-direction: column;
        gap: 8px;
        
        &-title {
            font-size: 1rem;
            color: $primary-color;
        }
        &-maintitle{
            font-size: 1.5rem;
            font-weight: 300;
        }
        &-time {
            color: $primary-color;
            // padding-top: 15px;
        }
        &-summary {
            color: $primary-color;
            font-size: 1rem;
        }
    }
}