:root {
  --body-bg: #15161e;
  --header-gap: 15px;
  --text-large: 20px;
}
/*******

1. General Styles

*******/
body {
  color: #fdfdfd;
  font-family: sans-serif;
  background-color: var(--body-bg);
  line-height: 1.2;
}
a:link,
a:visited {
  color: #d1d1d3;
  text-decoration: none;
}
a:hover{
  color:whitesmoke;
}
img{
    width: 100%;
    height: auto;
}
/*******

2. Container

*******/
.container {
  max-width: 1140px;
  margin: auto;
}
button {
  background: transparent;
  color: inherit;
  border: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
/*******

3. Header

*******/
.header {
  background-color: var(--body-bg);
  border-bottom: 1px solid #313339;
  padding: var(--header-gap);
}
/*******

3.1 Primary navigation

*******/
.primary-navigation {
  list-style: none;
  display: flex;
  gap: 25px;
}
.primary-navigation-item {
  position: relative;
}
.primary-navigation-item:last-child {
  margin-left: auto;
}
.primary-navigation-item.has-dropdown:focus-within .dropdown {
  display: block;
}
.primary-navigation-item.has-dropdown:focus-within svg {
  transform: rotate(270deg);
  transition: 200ms;
}
.dropdown {
  display: none;
  position: absolute;
  top: calc(100% + var(--header-gap));
  right: 0; /* apsolutna pozicija, right 0, osigurali smo se da ide lijevo*/
  min-width: 100px;
  padding: 0.2em;
  background-color: var(--body-bg);
}
.dropdown-item:not(:last-child) {
  border-bottom: 1px solid;
}
.dropdown-item a {
  display: block;
  padding: 0.5em;
}
.primary-navigation-item.has-dropdown button {
  display: flex;
  gap: 5px;
}
.primary-navigation-item.has-dropdown svg {
  fill: white;
  width: 0.7em;
  height: 0.7em;
  transform: rotate(90deg);
}
/*******

4. Hero

*******/

.hero {
  background-image: url(./assets/hero.jpg);
  background-color: #150e14;
  background-position: center 0;
  background-size: contain;
  background-repeat: no-repeat;
  height: 420px;
}
.hero-title {
  font-size: 34px;
  padding-top: 130px;
}
.hero-lead {
  font-size: var(--text-large);
  margin: 1em 0;
}
/*******

5. Button

*******/
a.button, /* svi anchori sa klasom button i svi buttoni sa klasom button*/
button.button {
  display: inline-block;
  background-color: #2374e0;
  color: white;
  padding: 10px 25px;
  border-radius: 4px;
  font-weight: bold;
}
a.button:hover{
  border:2px solid #76aff4;
  padding: 8px 23px;
}

/*******

6. Benefits

*******/
.benefits {
  background-color: #1a1c23;
  padding-bottom: 40px;
}
.benefits-wrapper{
    display: flex;
    gap: 15px;
}


.benefits-title {
  font-size: 30px;
  margin-bottom: 20px;
}
.benefits-lead {
  max-width: 60%;
  margin: 0px auto;
  padding: 30px 0;
  text-align: center;
  font-size: var(--text-large);
  line-height: 1.3;
}
.benefit-box {
    background-color: #292b33;
}
.benefit-box-summary{
    padding: 0 10px 10px;
}
.benefit-box-title {
  margin: 25px 0 20px;
}
.benefit-box-description {
    margin-bottom: 25px;
}
.benefits-box-image {
    display: block;
    /* object-fit: cover;
    height: auto;
    width: fit-content; */
    height: 175px;
    width: auto;
    overflow: hidden;
    border:1px solid #3a3b41;
}
img:hover{
  filter: brightness(120%);
}
img{
  height: 100%;
  width: 100%;
}
/* 7.links */
a.link-alternative {
  color: #2d8dff;
}
.image-chevron{
  fill: #2d8dff;
  width: 0.7em;
  height: 0.7em;
  margin-left: 5px;
}
a.link-alternative:hover,.image-chevron:hover{
  display: inline-block;
  color:#84addf;
  fill:currentColor;
}
a.link-trademark,a.footer-navbar-link{
  color: whitesmoke;
}
/*responsive design*/
@media screen and (max-width: 800px) {
  .benefits-wrapper{
    display: flex;
    flex-direction: column;
  }
  .benefit-box{
    display: flex;
  }
  img{
    height: 100%;
    width: 100%;
  }
  
}
/*******

8. Footer

*******/
.footer-wrapper{
  display: flex;
  flex-direction: column;
  background-color: var(--body-bg);
}
.logo-container{
  display: flex;
  color: #ffffff;
  justify-content: center;
  font-family:sans-serif;
  margin-top: 50px;
  font-size: 32px;
}
.footer-ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 10px;
}
.footer-listitem>a{
  color: whitesmoke;
  padding: 0.3em;
}
.footer-listitem:not(:last-child)::after {
  content: "";
  display: inline-block;
  height: 10px;
  width: 1px;
  background-color: lightgray;
}
.footer-copyright,.footer-trademarks{
  display: flex;
  justify-content: center;
  color: #b9babc;
  font-size: 12px;
  margin-bottom: 8px;
}
.footer-navbar{
  padding:5px;
  margin-bottom: 10em;
}
ul.footer-ul-navbar{
  display: flex;
  justify-content: center;
  font-size: 10px;
}
.footer-navbar-listitem:not(:last-child)::after {
  content: "";
  display: inline-block;
  height: 8px;
  width: 1px;
  margin: 0 5px 0;
  background-color: lightgray;
}

