//darken,lighten,grayscale,transparentize
//za numbere - round,ceil,floor,random
//zastring - unquote,quote,str-length,str-insert,str-slice,to-upper-case,to-lower-case

$colors: (
    'primary':dodgerblue,
    'secondary':green,
    'danger':tomato
);

@each $button, $color in $colors {
    .button-#{$button} {
        background-color: $color;
        color: white;
        
        &:hover{
            background-color: lighten($color, 5);
        }

        &:active{
            background-color: darken($color, 5);
        }
    }
}