//ex1
@function sum($num1, $num2) {
    @return  $num1 + $num2;

};

@function any($num ...) {
    $biggest:0;
    @each $number in $num {
        @if ($number>$biggest) {
            $biggest:$number;
        }
    }
    @return $biggest*1px;
}
.p{
    padding: sum(2px,3px);
    position: absolute;
    top: any(-1,-20,-20,-50);
}