.card {
    background-color: $color-bg;
    text-align: center;
    height: 100%;
  
    &__content {
      padding: 1.5rem;
    }
  
    &__image {
      height: 200px;
    }
  
    &--alt {
      @extend %card-styles;
      text-align: left;

    }
  
    &__category {
      @extend %category-styles;
    }
  }