.card-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:1rem;

  

    @include mq-up('tablet') {
        grid-template-columns: repeat(3,1fr);
    }

    @include mq-up('desktop'){
        &--alt{
            grid-template-columns: repeat(4,1fr);
        }
    }
}