.follow {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    max-width: 1000px;
    &__title {
        text-transform: uppercase;
        font-size: 1em;
        font-weight: 100;
        margin-bottom: 50px;
    }
    &__para {
        font-size: 0.9em;
        color: transparentize($color-text, 0.2);
        line-height: 1.6;
    }
}

.logo-container {
    padding: 3rem 0;
}

.footer {
    &__wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        background: url("assets/bg-1.jpg");
    }
    &__ul,
    &__ul-navbar,&__listitem,&__navbar-listitem {
        display: flex;
        justify-content: center;
        gap: 1rem;
        font-size: 1.3rem;
        padding: 2rem 0;
    }
    &__navbar-listitem,&__listitem,&__trademark{
        color:transparentize(#fff, .2);
        &:hover{
            color: whitesmoke;
        }
    }
    &__copyright,
    &__trademarks {
        color: #b9babc;
        font-size: 15px;
    }
    &__listitem:not(:last-child)::after,&__navbar-listitem:not(:last-child)::after{
        content: "";
        display: inline-block;
        width: 1px;
        height: 20px;
        background-color: #fff;
    }
}
// .footer {
//     &__wrapper {
//         display: flex;
//         flex-direction: column;
// background:url('assets/bg-1.jpg');
//     }

//     &__ul {
//         display: flex;
//         flex-direction: row;
//         justify-content: center;
//         margin-top: 25px;
//         margin-bottom: 10px;
//     }
//     &__listitem:not(:last-child)::after {
//         display: inline-block;
//         content: "";
//         height: 10px;
//         width: 1px;
//         background-color: lightgray;
//     }

//     &__copyright,
//     &__trademarks {
//         display: flex;
//         justify-content: center;
//         color: #b9babc;
//         font-size: 15px;
//         margin-bottom: 8px;
//         text-decoration: none;
//     }
//     &__listitem > a {
//         color: #c5c2bf;
//         padding: 0.3em;
//         text-decoration: none;
//         font-size: 1.3rem;
//         &:hover{
//             color:whitesmoke;
//         }
//     }
//     &__navbar {
//         padding: 5px;
//         margin-bottom: 10em;
//     }
//     &__ul-navbar {
//         display: flex;
//         justify-content: center;
//         font-size: 15px;
//     }
//     &__navbar-listitem:not(:last-child)::after {
//         content: "";
//         display: inline-block;
//         height: 8px;
//         width: 1px;
//         margin: 15px;
//         background-color: lightgray;
//     }
//     &__navbar-link{
//        text-decoration: none;
//        color: #c5c2bf;
//     }
// }
// .NavbarFooter-logoContainer{
//     margin: 30px 0;
//     height: 60px;
// }
// .NavbarFooter-logo{
//     color: blue;
//     display: block;
//     position: relative;
//     width: 124px;
//     height: 66px;
//     margin: 0 auto;
// }
// .link__trademark{
//    text-decoration: none;
//    color: #d3cecb;
//    font-weight: 700;
//    &:hover{
//        color: whitesmoke;
//    }
// }
