@import './general/variables';
@import './general/reset';
@import './general/media-querry';
@import './general/mixins';
@import './general/global';
@import './general/buttons';
@import './general/images';

@import './components/main-page/benefits';
@import './components/main-page/header';
@import './components/main-page/search-bar';
@import './components/main-page/filter';
@import './components/main-page/articles';
@import './components/main-page/footer';
@import './components/main-page/social';
@import './components/main-page/copyright';
@import './components/article-page/main-furniture';
@import './components/article-page/aside-furniture';
@import './components/article-page/aside-delivery';
@import './components/article-page/similar';
@import './components/article-page/also';
@import './components/article-page/recent';