@import './general/variables';
@import './general/reset';
@import './general/media-querry';
@import './general/mixins';
@import './general/global';
@import './general/buttons';
@import './general/images';

@import './components/main-page/benefits';
@import './components/main-page/header';
@import './components/main-page/search-bar';
@import './components/main-page/filter';
@import './components/main-page/articles';
@import './components/main-page/footer';
@import './components/main-page/social';
@import './components/main-page/copyright';
@import './components/main-page/main-js';
@import './components/main-page/section-burger';
@import './components/article-page/main-furniture';
@import './components/article-page/aside-furniture';
@import './components/article-page/aside-delivery';
@import './components/article-page/similar';
@import './components/article-page/also';
@import './components/article-page/recent';
@import './components/article-page/recent';
@import './components/basket-page/basket-wrapper';
@import './components/basket-page/basket-product-summary.scss';
@import './components/basket-page/basket-aside';
@import './components/basket-page/order-info';
@import './components/basket-page/recommended';
@import './components/basket-page/mini-cart';
@import './components/article-page/popup';
@import './components/article-page/dimension-popup';
@import './components/article-page/article-js';
@import './components/takeaway-page/takeaway';
@import './components/takeaway-page/takeaway-aside';
@import './components/takeaway-page/takeaway-summary';
@import './components/takeaway-page/takeaway-form';
@import './components/takeaway-page/takeaway-js';
@import './components/takeaway-page/takeaway-payment';

