.category {
    @include displayFlex(flex, center, 2rem) {
        flex-direction: column;
        justify-content: center;
        padding: 6rem 0;
    }

    &__title--main {
        font-size: 2.5rem;
        font-weight: bold;
        padding-bottom: 1rem;

        @include mq-down("phone") {
            text-align: center;
            font-size: 1.8rem;
        }
    }

    &__title--alt {
        color: $text-color-secondary;
    }

    &__custom {
        display: flex;
        width: 100%;
        justify-content: space-evenly;

        @include mq-down("tablet") {
            gap: 15px;
        }

        @include mq-down("phone") {
            @include displayFlex(flex, center, 1rem) {
                flex-direction: column;
            }
        }

        &__image {
            height: 70px;

            @include mq-down("tablet") {
                height: 50px;
            }

            @include mq-down("phone") {
                height: 30px;
                width: auto;
            }
        }

        &__content {
            color: $color-secondary;

            @include mq-down("phone") {
                font-size: 0.8rem;
            }
        }

        &__outer {
            @include outerCircleStyles();

            @include mq-down("phone") {
                padding: 1rem;
                width: max-content;
            }

            &--vases {
                background: darken(#e4b366, 5);
            }

            &--mugs {
                background: darken(#f15b10, 5);
            }

            &--plates {
                background: darken(#a2100f, 3);
            }
        }

        &__inner {
            @include innerCircleStyles();

            @include mq-down("phone") {
                width: max-content;
                padding: 1rem 1.5rem;
            }

            &--vases {
                background: #e4b366;
            }

            &--mugs {
                background: #f15b10;
            }

            &--plates {
                background: #a2100f;
            }
        }
    }

    &__about {
        display: flex;

        @include mq-down("phone") {
            @include displayFlex(flex, center, 1rem) {
                flex-direction: column;
            }
        }

        &__title {
            font-weight: bold;
            font-size: 2rem;
            width: 50%;
            padding: 2rem 0;

            @include mq-down("tablet") {
                width: 100%;
            }

            @include mq-down("phone") {
                width: 100%;
            }
        }

        &__para {
            @include paraStyles();

            @include mq-down("phone") {
                width: 100%;
            }
        }
    }

    @include mq-down("tablet") {
        padding: 2rem 3rem;
    }
}
