.type {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 0;

    &__article {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    &__article--alt {
        @extend .type__article;
        flex-direction: row-reverse;
    }

    &__content {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__para {
        @include paraStyles();
        width: 60%;
        padding: 1rem 0;
    }

    &__link {
        color: #000;
        font-weight: bold;
    }

    &__title {
        font-weight: bold;
        font-size: 1.7rem;
    }

    &__image {
        height: 450px;
    }
}
