.footer-button--gray {
    display: flex;
    gap: 5px;
    align-items: center;
    border: $border-bottom-gray;
    border-radius: 100px;
    padding: 0.5rem;
}
//aside na article-page
.btn-wrapper-aside {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    &__button--blue {
        color: $white-color;
        background: #1958a3;
        width: 100%;
        border: none;
        border-radius: 100px;
        padding: 0.8rem;
    }

    &__button--fav {
        @include svgStyles(block, $border-bottom-gray, 0.6rem 0.8rem, 50%);
        background: none;
        svg {
            height: 20px;
            width: 20px;
        }
    }
}

//button na checkout-page
.basket__summary__add {
    @include displayFlex(flex, center, 1rem);
    padding: 2rem 0;

    &--button {
        @include svgStyles(block, $border-bottom-gray, 0.6rem 1rem, 100px);
        width: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        svg {
            width: 10px;
            height: 10px;
            transform: rotate(90deg);
        }
    }
}

.button--wishlist {
    position: absolute;
    right: 0;
    top:0;
    svg{
        width: 18px;
        height: 18px;
    }
}

.button--cart {
    position: absolute;
    right: 0;
    bottom: 5px;
    fill: #fff;
    background: $color-blue;
    border: transparent;
    border-radius: 100px;
    padding: 0.6rem;
}
