html {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
*,
*::before,
*::after {
    font-family: inherit;
    box-sizing: inherit;
}
.container{
    max-width: 1300px;
    margin: auto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:$primary-text-color;
}
button {
    border: none;
}
img{
    width: 300px;
    height: 300px;
}
sup {
    vertical-align: super;
    font-size: small;
}