@mixin footerArticleStyles(){
    line-height: 1.7;
    &__title{
        font-weight: bold;
        padding-bottom: 1rem;
    }
}

@mixin displayFlex ($display,$align,$gap){
    display: $display;
    align-items: $align;
    gap: $gap;
}