.dimensions {
    position: fixed;
    height: 100%;
    width: 33%;
    right: 0;
    top: 0;
    padding: 2rem;
    background: #fff;
    transition: ease-in-out 300ms;

    &__intro {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__title {
        color: #000;
        font-weight: bold;
        font-size: 1.5rem;
        padding: 1rem 0;
    }

    &__serial {
        padding: 1rem 0;
    }

    &__serial-number {
        color: $white-color;
        background: #000;
        width: max-content;
        padding: 0.3em 0.6em;
    }

    &__link {
        text-decoration: underline;
    }

    &__summary {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;

        &--details,
        &--dimensions,
        &--reviews {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: $border-bottom-gray;
            height: 100px;

            svg {
                transform: rotate(90deg);
                width: 15px;
                height: 15px;
            }
        }

        &--headline {
            font-weight: bold;
        }
    }
}

.dimensions__summary--more {
    display: none;
    line-height: 1.5;
    &__title {
        font-weight: bold;
    }
    div:nth-child(3) {
        font-size: 0.8rem;
        padding-top: 0.5rem;
    }
    div:nth-child(4) {
        color: #fff;
        font-size: 0.8rem;
        background: #000;
        width: max-content;
        padding: 0.3em 0.6em;
    }
    div:nth-child(5) {
        padding-top: 0.5rem;
    }
    div:nth-child(5),
    div:nth-child(6),
    div:nth-child(7),
    div:nth-child(8),
    div:nth-child(9) {
        font-weight: bold;

        span{
            font-weight: normal;
        }
    }
}
