.benefit-box {
    background: $success-color;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    padding: 0.5rem;
    gap: 3rem;

    &__item {
        display: flex;
        align-items: center;
        padding: 0.5rem;
        color: $white-color;
        fill: $white-color;

        svg {
            margin-right: 10px;
            width: 1.5em;
            height: 1.4em;
        }
    }
}
