.filter {
    &__current{
        color: $secondary-text-color;
        padding: 1rem 0;
        border-bottom: 1px solid transparentize($secondary-text-color, 0.7);
        a{
            color: $secondary-text-color;
        }
    }
    &__title{
        font-weight: bold;
        font-size: 2rem;
        padding: 3rem 0;
    }
    &__values {
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid transparentize($secondary-text-color, 0.7);
    }
    &__list,
    &__result {
        display: flex;
        gap: 10px;
        &__item{
            padding: .3rem;
        }
    }
    &__list {
        &__item {
            text-align: center;
            background: $background-color;
            border: $background-color solid 2px;
            border-radius: 100px;
        }
    }
}
