ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
}
li {
    border:solid 2px gray;
    color :cornflowerblue;
    max-width: 30%;
    padding: 20px;
    align-items: center;
    margin: auto;

}
a {
    text-decoration: none;
}
a:hover{
    color:red
}
a:active{
    color: gray;
}