.popup {
    position: fixed;
    height: 100vh;
    width: 33%;
    right: 0;
    top: 0;
    transition: transform ease-in-out 300ms;
    transform: translate(0%);

    &__scroll__wrapper {
        background: #fff;
    }

    &__intro {
        background: $color-blue;
        padding: 2rem;
    }

    &__title {
        color: #fff;
        font-weight: bold;
        font-size: 1.5rem;
        padding: 1rem 0;
    }

    &__link {
        font-size: 0.9rem;
        color: #fff;
        text-decoration: underline;
    }

    &__article__title {
        padding: 2rem;
        font-weight: bold;
        font-size: 1.3rem;
    }

    &__article {
        @include displayFlex(flex, center, 15px);
        border-bottom: $border-bottom-gray;
    }

    &__scroll {
        padding: 2rem;
        overflow-y: scroll;
        height: 85vh;
    }
    &__summary {
        @include displayFlex(flex, flex-start, 1rem);
        flex-direction: column;
        line-height: 1.3;
        font-size: 1rem;
    }

    &__name {
        @include articleNameStyles();
    }

    &__description {
        color: transparentize($secondary-text-color, 0.3);
    }

    &__price {
        font-weight: bold;
        font-size: 1.3rem;
    }

    &__stars {
        @include displayFlex(flex, center, 5px);
        font-size: 0.9rem;

        svg {
            width: 13px;
            height: 13px;
        }
    }
}
