.similar {
    display: grid;
    grid-column: span 5;
    padding: 1rem 0;

    @include mq-down("tablet") {
        width: fit-content;
        margin-left: 2rem;
    }

    &__summary {
        @include displayFlex(flex, flex-start, 8px);
        flex-direction: column;
    }

    &__title{
        @include sectionTitleStyles();
    }

    &__age {
        color: $error-color;
    }

    &__name {
        @include articleNameStyles();
    }

    &__price {
        font-weight: bold;
    }

    &__scroll {
        @include sectionScrollStyles();
    }
}
