@import url('./_variables.scss');
@mixin color-group($background, $color) {
  background-color: $background;
  color: $color;
  @content;
}
body {
  @include color-group(#15161e, #fdfdfd) {
    font-family: sans-serif;
    line-height: 1.2em;
  }
}
button {
  @include color-group(transparent, inherit) {
    border: none;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}


