@import "./variables";
.container {
    max-width: 1140px;
    margin: auto;
}
.hero {
    background-image: url(../assets/hero.jpg);
    background-color: map-get($color-map, hero-color);
    background-position: center 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 420px;
    &-title {
        font-size: 34px;
        padding-top: 130px;
    }
    &-lead {
        font-size: map-get($color-map,large-text);
        margin: 1.5em 0;
    }
    a.button,button.button{
        display: inline-block;
        margin-left: -8px;
        background-color: map-get($color-map, button-color);
        color: white;
        padding: 10px 25px;
        border-radius: 4px;
        font-weight: bold;
    }
    &-button:hover a{
        border: 2px solid map-get($color-map, hover-color);
        padding: 8px 23px;
        color: white;
    }
}
