.wrapper{
    display:flex;
    justify-content:space-around;
    background-color:lightpink;
    padding:10px;
    border-radius:5%;
    border:2px solid gold;
  }
  .header-list {
    display: flex;
    list-style:none;
    gap:2em;
  }
.article-wrapper{
  display: flex;
  flex-direction: column;
  padding: 10px;
  border:2px solid gold;
}
.article{
  display: flex;
  flex-direction: row-reverse;
  gap:10px;
  background-color: hotpink;
}
.one,.two,.three,img{
  border:2px solid black;
  overflow: hidden;
}


