@import './variables';

.hero{
    background-image: url("./assets/hero.jpg");
    background-color: #150e14;
    background-position: center 0;
    background-size:contain;
    background-repeat: no-repeat;
    height: 420px;
    
    &-title{
        font-size: 34px;
        padding-top: 130px;      
    }
    &-lead{
        font-size: map-get($variable-map,large-text);
        margin: 1em 0;      
    }
}
a.button,
button.button {
  display: inline-block;
  background-color: map-get($variable-map, button-color );
  color: white;
  padding: 10px 25px;
  border-radius: 4px;
  font-weight: bold;
}
a.button:hover{
  border:2px solid map-get($variable-map,hover-color);
  padding: 8px 23px;
}
