$variable-map: (
    primary: #15161e,
    hero-color:#150e14,
    button-color:#2374e0,
    hover-color:#76aff4,
    box-color:#292b33,
    body-text-color:#fdfdfd,
    link-color:#d1d1d3,
    link-hover-color:whitesmoke,
    header-gap:15px,
    large-text:20px
);
