/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: inherit;
}

body {
  color: #fff;
  background: rgba(9, 38, 80, 0.3);
}

h1,
h2,
h3 {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

img {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.role__summary, .role, .card--alt {
  background: rgba(0, 111, 178, 0.2);
  border: 1px solid #006fb2;
  transition: all 150ms;
}
.role__summary:hover, .role:hover, .card--alt:hover {
  border-color: #009fff;
  background: rgba(0, 111, 178, 0.3);
}

.card__category {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

.container {
  max-width: 1225px;
  margin: auto;
}

.hero {
  position: relative;
}
.hero img {
  display: block;
}
.hero__content {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 689px) {
  .hero__content {
    position: absolute;
    top: 40%;
  }
}
.hero__form {
  display: flex;
}
.hero__input {
  padding: 0.8rem;
  border-radius: 0;
  border: 1px solid #d8d8d8;
  min-width: 250px;
}
.hero__text {
  display: none;
}
@media (min-width: 689px) {
  .hero__text {
    display: block;
  }
}

.btn {
  padding: 0.8rem;
  color: #fff;
  background: #006fb2;
  border: 1px solid #79d4ff;
  cursor: pointer;
  font-size: 1, 2rem;
}

.card {
  background-color: #092650;
  text-align: center;
  height: 100%;
}
.card__content {
  padding: 1.5rem;
}
.card__image {
  height: 200px;
}
.card--alt {
  text-align: left;
}
.card-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}
@media (min-width: 689px) {
  .card-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 993px) {
  .card-wrapper--alt {
    grid-template-columns: repeat(4, 1fr);
  }
}

.bg-blue {
  background-image: url("assets/bg-3.webp");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  border-top: 1px solid #0c3167;
  padding: 65px 0;
  opacity: 0.9;
}

.lead {
  max-width: 70%;
  margin-bottom: 7.5em;
  text-align: center;
  line-height: 1.7;
  margin: 0 auto 7.5em;
  opacity: 0.8;
}

.bg-role {
  padding: 120px 0 60px;
  text-align: center;
  background-image: url("assets/bg-4.webp");
  background-repeat: no-repeat;
  background-position-x: center;
}

.role {
  padding: 2rem;
  min-height: 315px;
}
.role .icon {
  width: 120px;
  fill: #ff9000;
}
.role__main-title {
  font-size: 3rem;
  line-height: 1.5;
  margin-bottom: 1.2em;
}
.role__main-title .highlighted {
  text-transform: initial;
  color: #ff9000;
}
.role__title {
  margin-bottom: 1.5em 0 1em;
}
.role__summary {
  border: none;
  font-size: 0.8rem;
}

.about {
  background-image: url("assets/bg-3.webp");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  border-top: 1px solid #0c3167;
  padding: 65px 0;
  opacity: 0.9;
}
.about .container {
  display: flex;
}
.about__tweets {
  display: block;
  margin: auto;
  width: 30vw;
  height: 50vh;
  border-radius: 2%;
  overflow: auto;
}
.about__title {
  font-weight: lighter;
  font-size: 4.5rem;
  text-transform: capitalize;
}
.about__para {
  font-size: 1rem;
  width: 60%;
  line-height: 1.5;
}

.learn {
  background-image: url("assets/bg-2.webp");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  border-top: 1px solid #0c3167;
  padding: 65px 0;
  opacity: 0.9;
  width: 100%;
}
.learn .card {
  max-width: 300px;
}
.learn .card__image {
  object-fit: cover;
}
.learn__title {
  color: #29557d;
  text-transform: capitalize;
  font-weight: lighter;
  font-size: 2rem;
  text-align: center;
}

.cookies {
  display: flex;
  width: 100%;
  background: #02141f;
  justify-content: space-evenly;
  border: 1px solid black;
}
.cookies__settings, .cookies__info {
  padding: 1.5rem;
}

.follow {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  max-width: 1000px;
}
.follow__title {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 100;
  margin-bottom: 50px;
}
.follow__para {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.6;
}

.logo-container {
  padding: 3rem 0;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: url("assets/bg-1.jpg");
}
.footer__ul, .footer__ul-navbar, .footer__listitem, .footer__navbar-listitem {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 1.3rem;
  padding: 2rem 0;
}
.footer__navbar-listitem, .footer__listitem, .footer__trademark {
  color: rgba(255, 255, 255, 0.8);
}
.footer__navbar-listitem:hover, .footer__listitem:hover, .footer__trademark:hover {
  color: whitesmoke;
}
.footer__copyright, .footer__trademarks {
  color: #b9babc;
  font-size: 15px;
}
.footer__listitem:not(:last-child)::after, .footer__navbar-listitem:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 20px;
  background-color: #fff;
}

/*# sourceMappingURL=main.css.map */
