.loader {
    display: flex;
    justify-content: center;
    width: 20em;
}

.loader__dot {
    width: 2em;
    height: 2em;
    background-color: #00897b;
    border-radius: 50%;
    animation:dots 1s infinite linear;
}

.loader__dot:nth-child(2){
    animation-delay: 250ms;
}
.loader__dot:nth-child(3){
    animation-delay: 500ms;
}

.loader__dot:not(:last-child) {
    margin-right: 0.75em;
}

@keyframes dots {
    0% {
      background-color: #00897b;
    }
    20%{
        transform: scale(.3);
    }
    40% {
      transform: scale(.3);
    }
    60%{
        transform: scale(.3);
    }
    80%{
        transform: scale(.3);
    }
    100% {
        background-color: #4ebaaa;
    }
  }