/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: inherit;
}

.container {
  max-width: 1300px;
  margin: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #111111;
}

button {
  border: none;
  background: none;
}

img {
  width: 300px;
  height: 300px;
}

sup {
  vertical-align: super;
  font-size: small;
}

.footer-button--gray {
  display: flex;
  gap: 5px;
  align-items: center;
  border: 1px solid rgba(122, 121, 122, 0.3);
  border-radius: 100px;
  padding: 0.5rem;
}

.btn-wrapper-aside {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.btn-wrapper-aside__button--blue {
  color: #fff;
  background: #1958a3;
  width: 100%;
  border: none;
  border-radius: 100px;
  padding: 0.8rem;
}
.btn-wrapper-aside__button--fav {
  display: block;
  border: 1px solid rgba(122, 121, 122, 0.3);
  padding: 0.6rem 0.8rem;
  border-radius: 50%;
  background: none;
}
.btn-wrapper-aside__button--fav svg {
  height: 20px;
  width: 20px;
}

.furniture__article__image {
  padding: 0.5rem;
  width: 380px;
  height: 380px;
}

.furniture__aside__image {
  width: 100px;
  height: 100px;
  border: solid 1px transparent;
  cursor: pointer;
}
.furniture__aside__image:hover {
  border: 1px solid rgba(122, 121, 122, 0.3);
}
.furniture__aside__image:focus {
  outline: 1px solid black;
}

.similar__image {
  width: 175px;
  height: 175px;
}

.also__image {
  width: 275px;
  height: 270px;
}

.recent__image {
  width: 150px;
  height: 150px;
}

.benefit-box {
  background: #3ba132;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  padding: 0.5rem;
  gap: 3rem;
}
.benefit-box__item {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0.5rem;
  color: #fff;
  fill: #fff;
}
.benefit-box__item svg {
  margin-right: 10px;
  width: 1.5em;
  height: 1.4em;
}

.primary-nav {
  display: flex;
}
@media (max-width: 992px) {
  .primary-nav {
    overflow-x: scroll;
  }
}
@media (max-width: 688px) {
  .primary-nav {
    overflow-x: scroll;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}
.header__primary {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.header__logo {
  width: 90px;
  height: 70px;
}

.search {
  width: 100%;
  padding: 1rem;
  padding-right: 8rem;
  padding-left: 3rem;
  border: 1px solid transparent;
  background: whitesmoke;
  border-radius: 70px;
  transition: 200ms ease-in-out;
}
.search:focus-within {
  outline: none;
}
.search:hover {
  background: #e2e2e2;
}

.filter__current {
  color: #7a797a;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(122, 121, 122, 0.3);
}
.filter__current a {
  color: #7a797a;
}
.filter__title {
  font-weight: bold;
  font-size: 2rem;
  padding: 3rem 0;
}
.filter__values {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(122, 121, 122, 0.3);
}
.filter__list, .filter__result {
  display: flex;
  gap: 10px;
}
@media (max-width: 992px) {
  .filter__list, .filter__result {
    display: flex;
    align-items: center;
  }
}
.filter__list__item, .filter__result__item {
  padding: 0.3rem;
}
@media (max-width: 992px) {
  .filter__list, .filter__result {
    width: 40%;
    overflow-x: scroll;
  }
}
.filter__list__item {
  text-align: center;
  background: whitesmoke;
  border: whitesmoke solid 2px;
  border-radius: 50%;
}
@media (max-width: 992px) {
  .filter__list__item {
    padding: 0.3rem;
    text-align: start;
    border: none;
  }
}

.section__article {
  padding: 4rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 992px) {
  .section__article {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 688px) {
  .section__article {
    grid-template-columns: repeat(1, 1fr);
  }
}

.article {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(122, 121, 122, 0.3);
}
.article__summary {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
}
.article__age {
  color: tomato;
}
.article__name {
  color: #111111;
  text-transform: uppercase;
  font-weight: bold;
}
.article__price {
  background: #fcdb00;
  width: max-content;
  padding: 0.2rem;
  box-shadow: 2px 2px #e53f4d;
  font-weight: bold;
}

.footer {
  background: #f5f5f5;
}
@media (max-width: 688px) {
  .footer {
    width: fit-content;
  }
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 3rem;
  padding: 3.5rem 0;
}
.grid-wrapper article:first-of-type {
  grid-column: 1/3;
}
@media (max-width: 992px) {
  .grid-wrapper {
    grid-template-columns: repeat(2, 1fr);
    width: max-content;
  }
}
@media (max-width: 688px) {
  .grid-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-wrapper article:first-of-type {
    grid-column: 1/1;
  }
}

.planner,
.services,
.help,
.ikea {
  line-height: 1.7;
}
.planner__title,
.services__title,
.help__title,
.ikea__title {
  font-weight: bold;
  padding-bottom: 1rem;
}

.family {
  width: 80%;
  line-height: 1.2;
  font-size: 0.9em;
}
@media (max-width: 992px) {
  .family {
    padding: 1.3rem 0;
  }
}
.family__title {
  font-size: 1.4rem;
  font-weight: bold;
  padding-bottom: 1rem;
}
.family__text {
  padding-bottom: 2rem;
}
.family__link {
  text-decoration: underline;
  transition: 200ms ease-in-out;
}
.family__link:hover {
  cursor: pointer;
  color: #919191;
}
.family__button {
  color: #fff;
  background: #000;
  border: none;
  border-radius: 100px;
  padding: 0.8rem;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;
  border-bottom: 1px solid rgba(122, 121, 122, 0.3);
}
.social__list {
  display: flex;
  gap: 1.5rem;
}
.social__link--rounded {
  display: block;
  border: 1px solid rgba(122, 121, 122, 0.3);
  padding: 0.3rem 0.5rem;
  border-radius: 100px;
}
.social__link--squared {
  display: block;
  border: 1px solid rgba(122, 121, 122, 0.3);
  padding: 0.3rem 0.3rem;
  border-radius: 5px;
}

.copyright {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1rem 0;
}
.copyright__text {
  font-size: 0.7em;
  color: rgba(122, 121, 122, 0.8);
}
.copyright__list {
  font-size: 0.7em;
  display: flex;
  gap: 15px;
}

.furniture {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: 3rem 0;
}
@media (max-width: 992px) {
  .furniture {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 688px) {
  .furniture {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
.furniture__article {
  grid-column: span 5;
}
@media (max-width: 992px) {
  .furniture__article {
    width: 100%;
    grid-row-start: 2;
  }
}
.furniture__para {
  color: #7a797a;
  padding: 2rem 0;
  width: 60%;
  line-height: 1.5;
}
.furniture__serial-tag {
  color: #7a797a;
  padding: 0.5rem 0;
}
.furniture__serial-number {
  color: #fff;
  background: #000;
  width: max-content;
  padding: 0.3em 0.6em;
}
.furniture__summary {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
.furniture__summary--details, .furniture__summary--dimensions, .furniture__summary--reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(122, 121, 122, 0.3);
  height: 100px;
}
.furniture__summary--details svg, .furniture__summary--dimensions svg, .furniture__summary--reviews svg {
  width: 15px;
  height: 15px;
}
.furniture__summary--headline {
  font-weight: bold;
}

.furniture__aside {
  grid-column: span 3;
  line-height: 1.8;
}
@media (max-width: 992px) {
  .furniture__aside {
    width: max-content;
    margin-left: 2rem;
  }
}
.furniture__aside__age {
  color: tomato;
}
.furniture__aside__name {
  color: #111111;
  text-transform: uppercase;
  font-weight: bold;
}
.furniture__aside__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.furniture__aside__price {
  font-weight: bold;
  font-size: 1.5em;
}
.furniture__aside__price span {
  font-size: 1rem;
}
.furniture__aside__variants {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.furniture__aside__variants--color {
  font-weight: bold;
}
.furniture__aside__variants--variant {
  font-weight: normal;
}
.furniture__aside__variants svg {
  width: 0.8em;
  height: 0.8em;
  fill: rgba(0, 0, 0, 0.5);
}

.delivery__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.delivery__wrapper__delivery {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid rgba(122, 121, 122, 0.3);
  padding: 1rem 0;
}
.delivery__wrapper__delivery::after {
  content: "";
  width: 0.7rem;
  height: 0.7rem;
  background: #3ba132;
  border-radius: 50%;
}
.delivery__wrapper__stock {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.delivery__wrapper__stock::after {
  content: "";
  width: 0.7rem;
  height: 0.7rem;
  background: #3ba132;
  border-radius: 50%;
}
.delivery__wrapper__stock a {
  text-decoration: underline;
}

.similar {
  display: grid;
  grid-column: span 5;
  padding: 1rem 0;
}
@media (max-width: 992px) {
  .similar {
    width: fit-content;
    margin-left: 2rem;
  }
}
.similar__summary {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  flex-direction: column;
}
.similar__title {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 2rem 0;
}
.similar__age {
  color: tomato;
}
.similar__name {
  color: #111111;
  text-transform: uppercase;
  font-weight: bold;
}
.similar__price {
  font-weight: bold;
}
.similar__scroll {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  overflow-y: hidden;
}

.also {
  display: grid;
  grid-column: span 8;
  padding: 1rem 0;
}
@media (max-width: 992px) {
  .also {
    width: 100%;
    margin-left: 2rem;
  }
}
.also__summary {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  flex-direction: column;
}
.also__title {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 2rem 0;
}
.also__age {
  color: tomato;
}
.also__name {
  color: #111111;
  text-transform: uppercase;
  font-weight: bold;
}
.also__price {
  font-weight: bold;
}
.also__scroll {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  overflow-y: hidden;
}

.recent {
  padding: 3rem 0;
}
@media (max-width: 992px) {
  .recent {
    width: max-content;
    margin-left: 2rem;
  }
}
.recent__title {
  padding: 1.5rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}

/*# sourceMappingURL=main.css.map */
