@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: inherit;
}

.container {
  max-width: 1400px;
  margin: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #111111;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

img {
  width: 300px;
  height: 300px;
}

sup {
  vertical-align: super;
  font-size: small;
}

.footer-button--gray {
  display: flex;
  border: 1px solid rgba(122, 121, 122, 0.3);
  padding: 0.5rem;
  border-radius: 100px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.btn-wrapper-aside {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.btn-wrapper-aside__button--blue {
  display: block;
  border: 1px solid rgba(122, 121, 122, 0.3);
  padding: 0.8rem;
  border-radius: 100px;
  color: #fff;
  background: #1958a3;
  width: 100%;
}
.btn-wrapper-aside__button--fav {
  display: block;
  border: 1px solid rgba(122, 121, 122, 0.3);
  padding: 0.6rem 0.8rem;
  border-radius: 50%;
  background: none;
}
.btn-wrapper-aside__button--fav svg {
  height: 20px;
  width: 20px;
}

.basket__summary__add {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
}
.basket__summary__add--button {
  display: block;
  border: 1px solid rgba(122, 121, 122, 0.3);
  padding: 0.6rem 1rem;
  border-radius: 100px;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.basket__summary__add--button svg {
  width: 10px;
  height: 10px;
  transform: rotate(90deg);
}

.button--wishlist {
  position: absolute;
  right: 0;
  top: 0;
}
.button--wishlist svg {
  width: 18px;
  height: 18px;
}

.button--cart {
  position: absolute;
  right: 0;
  bottom: 5px;
  fill: #fff;
  background: #1958a3;
  border: transparent;
  border-radius: 100px;
  padding: 0.4rem 0.6rem;
}

.mini__get--button {
  display: block;
  border: 1px solid rgba(122, 121, 122, 0.3);
  padding: 0.8rem;
  border-radius: 100px;
  color: #000;
  background: transparent;
  font-weight: bold;
  cursor: pointer;
}

.popup--button {
  display: block;
  border: 1px solid rgba(122, 121, 122, 0.3);
  padding: 0.5rem 0.6rem;
  border-radius: 100px;
  position: absolute;
  top: 10px;
  right: 15px;
  background: #fff;
  cursor: pointer;
}
.popup--button svg {
  width: 11px;
  height: 11px;
}

.dimensions--button--close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}
.dimensions--button--close svg {
  width: 13px;
  height: 13px;
}

.takeaway--button {
  display: block;
  border: 1px solid rgba(122, 121, 122, 0.3);
  padding: 0.6rem;
  border-radius: 100px;
  background: #fdfefe;
  fill: black;
  cursor: pointer;
}
.takeaway--button svg {
  width: 15px;
  height: 15px;
}

.takeaway__button--blue {
  display: block;
  border: 1px solid rgba(122, 121, 122, 0.3);
  padding: 0.8rem;
  border-radius: 100px;
  color: #fff;
  background: #1958a3;
  width: 100%;
}

.more__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.show-more__button {
  display: flex;
  color: black;
  background: transparent;
  border: 1px solid rgba(122, 121, 122, 0.3);
  border-radius: 100px;
  padding: 0.8rem;
  cursor: pointer;
}

.add-to-cart__button {
  display: block;
  cursor: pointer;
}

.furniture__article__image {
  padding: 0.5rem;
  width: 380px;
  height: 380px;
}

.furniture__aside__image {
  width: 100px;
  height: 100px;
  border: solid 1px transparent;
  cursor: pointer;
}
.furniture__aside__image:hover {
  border: 1px solid rgba(122, 121, 122, 0.3);
}
.furniture__aside__image:focus {
  outline: 1px solid black;
}

.similar__image {
  width: 175px;
  height: 175px;
}

.also__image {
  width: 275px;
  height: 270px;
}

.recent__image, .popup__image {
  width: 150px;
  height: 150px;
}

.takeaway__image {
  width: 75px;
  height: 75px;
}

.benefit-box {
  background: #3ba132;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  padding: 0.5rem;
  gap: 3rem;
}
.benefit-box__item {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0.5rem;
  color: #fff;
  fill: #fff;
}
.benefit-box__item svg {
  margin-right: 10px;
  width: 1.5em;
  height: 1.4em;
}

.primary-nav {
  display: flex;
}

.header {
  display: flex;
}
.header__primary {
  position: relative;
  display: flex;
  align-items: center;
  gap: 3.5rem;
}
.header__logo {
  width: 90px;
  height: 70px;
}

.--search {
  position: relative;
}
.--search__magnifier, .--search__camera {
  width: 20px;
  height: 20px;
  position: absolute;
  margin: 0.7rem;
}
.--search__camera {
  margin: 0.7rem -2.2rem;
}
@media (max-width: 992px) {
  .--search {
    width: max-content;
  }
}

@media (max-width: 992px) {
  .--is-hidden {
    display: none;
  }
}

.search {
  width: 100%;
  padding: 1rem;
  padding-right: 8rem;
  padding-left: 3rem;
  border: 1px solid transparent;
  background: whitesmoke;
  border-radius: 70px;
  transition: 200ms ease-in-out;
}
.search:focus-within {
  outline: none;
}
.search:hover {
  background: #e2e2e2;
}

.filter__current {
  color: #7a797a;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(122, 121, 122, 0.3);
}
.filter__current a {
  color: #7a797a;
}
.filter__title {
  font-weight: bold;
  font-size: 2rem;
  padding: 3rem 0;
}
.filter__values {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(122, 121, 122, 0.3);
}
.filter__list, .filter__result {
  display: flex;
  gap: 10px;
}
@media (max-width: 992px) {
  .filter__list, .filter__result {
    display: flex;
    align-items: center;
  }
}
.filter__list__item, .filter__result__item {
  padding: 0.3rem;
}
@media (max-width: 992px) {
  .filter__list, .filter__result {
    width: 40%;
    overflow-x: scroll;
  }
}
.filter__list__item {
  text-align: center;
  background: whitesmoke;
  border: whitesmoke solid 2px;
  border-radius: 100px;
}
@media (max-width: 992px) {
  .filter__list__item {
    padding: 0.3rem;
    text-align: start;
    border: none;
  }
}

.section__article {
  padding: 4rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 992px) {
  .section__article {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 688px) {
  .section__article {
    grid-template-columns: repeat(1, 1fr);
  }
}

.--hidden {
  display: none;
}

.article {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(122, 121, 122, 0.3);
}
.article__image {
  position: relative;
}
.article__image:hover .--hidden {
  position: absolute;
  display: block;
  top: 0;
}
.article__summary {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
}
.article__age {
  color: tomato;
}
.article__name {
  color: #111111;
  text-transform: uppercase;
  font-weight: bold;
}
.article__price {
  background: #fcdb00;
  width: max-content;
  padding: 0.2rem;
  box-shadow: 2px 2px #e53f4d;
  font-weight: bold;
}

.footer {
  background: #f5f5f5;
}
@media (max-width: 688px) {
  .footer {
    width: fit-content;
  }
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 3rem;
  padding: 3.5rem 0;
}
.grid-wrapper article:first-of-type {
  grid-column: 1/3;
}
@media (max-width: 992px) {
  .grid-wrapper {
    grid-template-columns: repeat(2, 1fr);
    width: max-content;
  }
}
@media (max-width: 688px) {
  .grid-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-wrapper article:first-of-type {
    grid-column: 1/1;
  }
}

.planner,
.services,
.help,
.ikea {
  line-height: 1.7;
}
.planner__title,
.services__title,
.help__title,
.ikea__title {
  font-weight: bold;
  padding-bottom: 1rem;
}

.family {
  width: 80%;
  line-height: 1.2;
  font-size: 0.9em;
}
@media (max-width: 992px) {
  .family {
    padding: 1.3rem 0;
  }
}
.family__title {
  font-size: 1.4rem;
  font-weight: bold;
  padding-bottom: 1rem;
}
.family__text {
  padding-bottom: 2rem;
}
.family__link {
  text-decoration: underline;
  transition: 200ms ease-in-out;
}
.family__link:hover {
  cursor: pointer;
  color: #919191;
}
.family__button {
  color: #fff;
  background: #000;
  border: none;
  border-radius: 100px;
  padding: 0.8rem;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;
  border-bottom: 1px solid rgba(122, 121, 122, 0.3);
}
@media (max-width: 992px) {
  .social {
    display: flex;
    flex-wrap: wrap;
  }
}
.social__list {
  display: flex;
  gap: 1.5rem;
}
@media (max-width: 688px) {
  .social__list {
    display: flex;
    flex-wrap: wrap;
  }
}
.social__link--rounded {
  display: block;
  border: 1px solid rgba(122, 121, 122, 0.3);
  padding: 0.3rem 0.5rem;
  border-radius: 100px;
}
.social__link--squared {
  display: block;
  border: 1px solid rgba(122, 121, 122, 0.3);
  padding: 0.3rem 0.3rem;
  border-radius: 5px;
}

.copyright {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1rem 0;
}
.copyright__text {
  font-size: 0.7em;
  color: rgba(122, 121, 122, 0.8);
}
.copyright__list {
  font-size: 0.7em;
  display: flex;
  gap: 15px;
}

.js-add-to-cart {
  position: relative;
}
.js-add-to-cart-number {
  position: absolute;
  bottom: 10px;
  background: #1958a3;
  color: #fff;
  border: 1px solid #1958a3;
  border-radius: 30px;
  padding: 2px 5px;
}

.section__burger {
  background: #fff;
  position: fixed;
  height: 100vh;
  width: 30%;
  left: 0;
  top: 0;
  transition: transform 300ms ease-in-out;
  transform: translate(-100%);
}
.section__burger__container {
  padding-left: 150px;
}
.section__burger__main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1rem 0;
}
.section__burger__main--link {
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
}
.section__burger__main--link:last-child {
  font-size: 0.8rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.section__burger__side {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section__burger__side--link {
  font-size: 0.8rem;
}
.section__burger__country {
  position: absolute;
  bottom: 50px;
}
.section__burger--close {
  position: absolute;
  top: 25px;
  left: 20px;
}
.section__burger--close svg {
  fill: #7a797a;
  width: 15px;
  height: 15px;
}

.is--active {
  transform: translate(0%);
}

.menu-icon {
  position: fixed;
  top: 80px;
  left: 200px;
  display: grid;
  place-items: center;
  height: 20px;
  width: 35px;
  cursor: pointer;
}
.menu-icon span {
  width: 25px;
  height: 2px;
  background: black;
  display: block;
}
.menu-icon:hover {
  border: transparent;
  border-radius: 100px;
  background: lightgray;
}

.furniture {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: 3rem 0;
}
@media (max-width: 992px) {
  .furniture {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 688px) {
  .furniture {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
.furniture__article {
  grid-column: span 5;
}
@media (max-width: 992px) {
  .furniture__article {
    width: 100%;
    grid-row-start: 2;
  }
}
.furniture__para {
  color: #7a797a;
  padding: 2rem 0;
  width: 60%;
  line-height: 1.5;
}
.furniture__serial-tag {
  color: #7a797a;
  padding: 0.5rem 0;
}
.furniture__serial-number {
  color: #fff;
  background: #000;
  width: max-content;
  padding: 0.3em 0.6em;
}
.furniture__summary {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
.furniture__summary--details, .furniture__summary--dimensions, .furniture__summary--reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(122, 121, 122, 0.3);
  height: 100px;
  cursor: pointer;
}
.furniture__summary--details:hover, .furniture__summary--dimensions:hover, .furniture__summary--reviews:hover {
  text-decoration: underline;
}
.furniture__summary--details svg, .furniture__summary--dimensions svg, .furniture__summary--reviews svg {
  width: 15px;
  height: 15px;
}
.furniture__summary--headline {
  font-size: 1rem;
  font-weight: bold;
}

.furniture__aside {
  position: sticky;
  top: 40px;
  grid-column: span 3;
  line-height: 1.8;
}
@media (max-width: 992px) {
  .furniture__aside {
    width: max-content;
    margin-left: 2rem;
  }
}
.furniture__aside__age {
  color: tomato;
}
.furniture__aside__name {
  color: #111111;
  text-transform: uppercase;
  font-weight: bold;
}
.furniture__aside__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.furniture__aside__price {
  font-weight: bold;
  font-size: 1.5em;
}
.furniture__aside__price span {
  font-size: 1rem;
}
.furniture__aside__variants {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.furniture__aside__variants--color {
  font-weight: bold;
}
.furniture__aside__variants--variant {
  font-weight: normal;
}
.furniture__aside__variants svg {
  width: 0.8em;
  height: 0.8em;
  fill: rgba(0, 0, 0, 0.5);
}
.furniture__aside__stars {
  display: flex;
  align-items: center;
  gap: 5px;
}

.delivery__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.delivery__wrapper__delivery {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid rgba(122, 121, 122, 0.3);
  padding: 1rem 0;
}
.delivery__wrapper__delivery::after {
  content: "";
  width: 0.7rem;
  height: 0.7rem;
  background: #3ba132;
  border-radius: 50%;
}
.delivery__wrapper__stock {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.delivery__wrapper__stock::after {
  content: "";
  width: 0.7rem;
  height: 0.7rem;
  background: #3ba132;
  border-radius: 50%;
}
.delivery__wrapper__stock a {
  text-decoration: underline;
}

.similar {
  display: grid;
  grid-column: span 5;
  padding: 1rem 0;
}
@media (max-width: 992px) {
  .similar {
    width: fit-content;
    margin-left: 2rem;
  }
}
.similar__summary {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  flex-direction: column;
}
.similar__title {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 2rem 0;
}
.similar__age {
  color: tomato;
}
.similar__name {
  color: #111111;
  text-transform: uppercase;
  font-weight: bold;
}
.similar__price {
  font-weight: bold;
}
.similar__scroll {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  overflow-y: hidden;
}

.also {
  display: grid;
  grid-column: span 8;
  padding: 1rem 0;
}
@media (max-width: 992px) {
  .also {
    width: 100%;
    margin-left: 2rem;
  }
}
.also__article {
  position: relative;
}
.also__summary {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  flex-direction: column;
  line-height: 1.3;
}
.also__title {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 2rem 0;
}
.also__age {
  color: tomato;
}
.also__name {
  color: #111111;
  text-transform: uppercase;
  font-weight: bold;
}
.also__price {
  font-weight: bold;
}
.also__scroll {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  overflow-y: hidden;
}

.recent {
  padding: 3rem 0;
}
@media (max-width: 992px) {
  .recent {
    width: max-content;
    margin-left: 2rem;
  }
}
.recent__title {
  padding: 1.5rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.recent {
  padding: 3rem 0;
}
@media (max-width: 992px) {
  .recent {
    width: max-content;
    margin-left: 2rem;
  }
}
.recent__title {
  padding: 1.5rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.basket {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding: 4rem 0;
  border-bottom: 1px solid rgba(122, 121, 122, 0.3);
}
.basket article:not(:last-of-type) {
  border-bottom: 1px solid rgba(122, 121, 122, 0.3);
}
.basket__section {
  grid-column: span 5;
}
.basket__intro {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
}
.basket__dots {
  font-size: 1.2rem;
}
.basket__title {
  font-weight: bold;
  font-size: 2rem;
}
.basket__image {
  width: 150px;
  height: 150px;
}
.basket__summary__wrapper {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  flex-direction: column;
}
.basket__article {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  justify-content: space-between;
  padding: 2rem 0;
}

.basket__summary {
  display: flex;
  align-items: flex-start;
  gap: 1.3rem;
}
.basket__summary__title {
  color: #111111;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
}
.basket__summary__description, .basket__summary__stock, .basket__summary__remove, .basket__summary__save {
  color: #7a797a;
  font-size: 0.9rem;
}
.basket__summary__price {
  font-weight: bold;
  font-size: 0.8rem;
}

.basket__aside {
  display: grid;
  grid-column-start: 7;
  grid-column-end: 11;
}
.basket__aside__wrapper,
.basket__aside .order__summary {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.basket__aside__title {
  font-weight: bold;
  font-size: 0.9rem;
}

.order__summary__delivery, .order__summary__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0;
  font-size: 0.9rem;
}
.order__summary__delivery {
  border-bottom: black 2px solid;
}
.order__summary__price {
  font-weight: bold;
}
.order__summary__price span:nth-child(2) {
  font-size: 1.3rem;
}

.order__profile__info {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
  padding: 1.5rem;
  border: 1px solid rgba(122, 121, 122, 0.3);
  border-radius: 5px;
}
.order__profile__info__wrapper {
  display: flex;
  flex-direction: column;
}
.order__profile__info--title {
  font-weight: bold;
  padding: 0.5rem 0;
}
.order__profile__info--link {
  text-decoration: underline;
}

.order__profile__payment {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
  background: #1958a3;
  padding: 2rem 1.5rem;
  border: transparent;
  border-radius: 5px;
}
.order__profile__payment--title {
  color: white;
  font-weight: bold;
}
.order__profile__payment--svg {
  background: #fdfefe;
  fill: black;
  border: transparent;
  border-radius: 100px;
  padding: 0.6rem;
}

.order__footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top: 1px solid rgba(122, 121, 122, 0.3);
  padding: 2rem 0;
}
.order__footer--code {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}
.order__footer--code svg {
  height: 12px;
  width: 12px;
  transform: rotate(90deg);
}
.order__footer__safety {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.order__footer__safety svg {
  width: 18px;
  height: 18px;
}
.order__footer__safety span {
  font-weight: bold;
}

.recommended {
  display: grid;
  grid-column: span 10;
  padding-top: 1rem;
  padding-bottom: 10rem;
}
@media (max-width: 992px) {
  .recommended {
    width: 100%;
    margin-left: 2rem;
  }
}
.recommended__article {
  position: relative;
}
.recommended__summary {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  flex-direction: column;
  line-height: 1.3;
}
.recommended__title {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 2rem 0;
}
.recommended__name {
  color: #111111;
  text-transform: uppercase;
  font-weight: bold;
}
.recommended__price {
  font-weight: bold;
  font-size: 1.5rem;
}
.recommended__scroll {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 2.5rem;
}

.mini {
  display: none;
}

.order__footer:focus-within .mini {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.order__footer:focus-within .mini__code {
  display: flex;
  align-items: center;
  gap: 5px;
  border-top: 1px solid rgba(122, 121, 122, 0.3);
  padding: 1rem 0;
}
.order__footer:focus-within .mini__link {
  text-decoration: underline;
  font-weight: bold;
}
.order__footer:focus-within .mini__use {
  display: flex;
  align-items: center;
  gap: 10px;
}
.order__footer:focus-within .mini__info {
  fill: #1958a3;
  width: 20px;
  height: 20px;
}
.order__footer:focus-within .mini__promo {
  border-bottom: 1px solid rgba(122, 121, 122, 0.3);
  padding: 1rem 0;
}
.order__footer:focus-within .mini__get {
  display: flex;
  justify-content: center;
}

.popup {
  position: fixed;
  height: 100vh;
  width: 33%;
  right: 0;
  top: 0;
  transition: transform ease-in-out 300ms;
  transform: translate(0%);
}
.popup__scroll__wrapper {
  background: #fff;
}
.popup__intro {
  background: #1958a3;
  padding: 2rem;
}
.popup__title {
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem 0;
}
.popup__link {
  font-size: 0.9rem;
  color: #fff;
  text-decoration: underline;
}
.popup__article__title {
  padding: 2rem;
  font-weight: bold;
  font-size: 1.3rem;
}
.popup__article {
  display: flex;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid rgba(122, 121, 122, 0.3);
}
.popup__scroll {
  padding: 2rem;
  overflow-y: scroll;
  height: 85vh;
}
.popup__summary {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  flex-direction: column;
  line-height: 1.3;
  font-size: 1rem;
}
.popup__name {
  color: #111111;
  text-transform: uppercase;
  font-weight: bold;
}
.popup__description {
  color: rgba(122, 121, 122, 0.7);
}
.popup__price {
  font-weight: bold;
  font-size: 1.3rem;
}
.popup__stars {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.9rem;
}
.popup__stars svg {
  width: 13px;
  height: 13px;
}

.dimensions {
  position: fixed;
  height: 100%;
  width: 33%;
  right: 0;
  top: 0;
  padding: 2rem;
  background: #fff;
  transition: ease-in-out 300ms;
}
.dimensions__intro {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.dimensions__title {
  color: #000;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem 0;
}
.dimensions__serial {
  padding: 1rem 0;
}
.dimensions__serial-number {
  color: #fff;
  background: #000;
  width: max-content;
  padding: 0.3em 0.6em;
}
.dimensions__link {
  text-decoration: underline;
}
.dimensions__summary {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
.dimensions__summary--details, .dimensions__summary--dimensions, .dimensions__summary--reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(122, 121, 122, 0.3);
  height: 100px;
}
.dimensions__summary--details svg, .dimensions__summary--dimensions svg, .dimensions__summary--reviews svg {
  transform: rotate(90deg);
  width: 15px;
  height: 15px;
}
.dimensions__summary--headline {
  font-weight: bold;
}

.dimensions__summary--more {
  display: none;
  line-height: 1.5;
}
.dimensions__summary--more__title {
  font-weight: bold;
}
.dimensions__summary--more div:nth-child(3) {
  font-size: 0.8rem;
  padding-top: 0.5rem;
}
.dimensions__summary--more div:nth-child(4) {
  color: #fff;
  font-size: 0.8rem;
  background: #000;
  width: max-content;
  padding: 0.3em 0.6em;
}
.dimensions__summary--more div:nth-child(5) {
  padding-top: 0.5rem;
}
.dimensions__summary--more div:nth-child(5),
.dimensions__summary--more div:nth-child(6),
.dimensions__summary--more div:nth-child(7),
.dimensions__summary--more div:nth-child(8),
.dimensions__summary--more div:nth-child(9) {
  font-weight: bold;
}
.dimensions__summary--more div:nth-child(5) span,
.dimensions__summary--more div:nth-child(6) span,
.dimensions__summary--more div:nth-child(7) span,
.dimensions__summary--more div:nth-child(8) span,
.dimensions__summary--more div:nth-child(9) span {
  font-weight: normal;
}

.overlay {
  opacity: 0.4;
  background-color: #323232;
}
.overlay img {
  opacity: 0.3;
}

.js--dimensions--active, .js--popup--active {
  transform: translate(100%);
}

.js--display--more {
  display: block;
}

.rotate--button svg {
  transform: rotate(270deg);
}

.takeaway {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding: 2rem 0;
}
@media (max-width: 992px) {
  .takeaway {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
    margin-left: 2rem;
  }
}
.takeaway__section {
  grid-column-start: 2;
  grid-column-end: 6;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-bottom: 1px solid rgba(122, 121, 122, 0.3);
  padding: 1rem 0;
}
@media (max-width: 992px) {
  .takeaway__section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
  }
}
.takeaway__section__title {
  font-size: 1.5rem;
  font-weight: bold;
}
.takeaway__section__title--alternative {
  display: flex;
  align-items: center;
  color: #7a797a;
  padding: 1rem 0;
  font-size: 1.3rem;
  font-weight: bold;
}
.takeaway__address {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
.takeaway__address div:nth-child(2) {
  font-weight: bold;
}
.takeaway__link {
  text-decoration: underline;
}
.takeaway__choice {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid rgba(122, 121, 122, 0.3);
}
.takeaway__choice button:focus {
  border-bottom: 3px solid #1958a3;
}
.takeaway__number {
  grid-column-start: 1;
  display: flex;
  align-items: start;
  padding: 1.2rem 0;
  border-bottom: 1px solid rgba(122, 121, 122, 0.3);
}
.takeaway__number span {
  background: transparent;
  color: #7a797a;
  border: 1px solid #7a797a;
  border-radius: 100px;
  padding: 0.3rem 0.5rem;
}
.takeaway__number--active {
  padding-top: 1.3rem;
}
.takeaway__number--active span {
  background: #000;
  color: white;
  border: transparent;
  border-radius: 100px;
  padding: 0.3rem 0.6rem;
}

.takeaway__aside {
  position: sticky;
  top: 40px;
  display: grid;
  grid-column-start: 7;
  grid-column-end: 10;
}
@media (max-width: 992px) {
  .takeaway__aside {
    position: inherit;
  }
}
.takeaway__aside__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.takeaway__aside__title__wrapper {
  display: flex;
  justify-content: space-between;
}
.takeaway__aside__images--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.takeaway__aside__images {
  display: flex;
  align-items: start;
  gap: 15px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 60%;
}
.takeaway__aside__link {
  text-decoration: underline;
}
.takeaway__aside__title {
  font-weight: bold;
  font-size: 0.9rem;
}

.takeaway__summary {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.takeaway__summary__title {
  border-bottom: 2px solid black;
  padding: 1rem 0;
  font-weight: bold;
}
.takeaway__summary__shipping, .takeaway__summary__withoutPDV, .takeaway__summary__pdv, .takeaway__summary__total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.takeaway__summary__withoutPDV, .takeaway__summary__pdv {
  color: #7a797a;
}
.takeaway__summary__total {
  font-weight: bold;
}
.takeaway__summary__total span:nth-child(2) {
  font-size: 1.8rem;
}

.takeaway__footer {
  display: flex;
  align-items: start;
  gap: 5px;
  gap: 15px;
  flex-direction: column;
}

.takeaway__description {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 2px solid #1958a3;
  border-radius: 5px;
  padding: 1.5rem;
  font-size: 0.9rem;
}
.takeaway__description__order {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.takeaway__description__delivery {
  font-weight: bold;
  padding-top: 2rem;
}

.takeaway__para {
  font-size: 0.65rem;
  color: #7a797a;
  text-align: center;
  width: max-content;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: ease-in-out 300ms;
}
@media (max-width: 992px) {
  .form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
  }
}
.form__input {
  border: none;
  padding: 0.5rem 0;
  border-bottom: 1px solid #7a797a;
  outline: none;
}
.form__add-address {
  font-weight: bold;
  font-size: 0.8rem;
  padding: 1rem;
}
.form__current-address, .form__credentials, .form__card {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
  font-size: 0.9rem;
}
.form__current-address div, .form__credentials div, .form__card div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.form__current-address div svg, .form__credentials div svg, .form__card div svg {
  height: 20px;
  width: 20px;
}
.form__current-address div span:nth-child(2), .form__credentials div span:nth-child(2), .form__card div span:nth-child(2) {
  font-weight: bold;
}
.form__postnumber {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form__link {
  text-decoration: underline;
  font-size: 0.9rem;
}
.form__card input {
  width: 100%;
}
.form__credentials__checkbox {
  font-size: 0.9rem;
}
.form__button {
  display: block;
  border: 1px solid rgba(122, 121, 122, 0.3);
  padding: 0.8rem;
  border-radius: 100px;
  color: #fff;
  background: gray;
  width: 100%;
}

.takeaway__accepted {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.takeaway__accepted__info {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
.takeaway__accepted__title {
  font-weight: bold;
  font-size: 1.2rem;
  color: gray;
  padding-bottom: 2rem;
}
.takeaway__accepted__link {
  text-decoration: underline;
  font-size: 0.9rem;
}
.takeaway__accepted__details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 0.9rem;
}

.--one-closed span {
  background: transparent;
  color: #7a797a;
  border: 1px solid #7a797a;
  border-radius: 100px;
  padding: 0.3rem 0.6rem;
}

.--two-open span {
  background: #000;
  color: white;
  border: transparent;
  border-radius: 100px;
  padding: 0.3rem 0.5rem;
}

.js--one {
  grid-column-start: 2;
  grid-column-end: 6;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-bottom: 1px solid rgba(122, 121, 122, 0.3);
  padding: 1rem 0;
}
.js--one__info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.js--one__title {
  font-weight: bold;
}
.js--one__link {
  text-decoration: underline;
}
.js--one__delivery, .js--one__address, .js--one__date {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.js--one__delivery span:first-child, .js--one__address span:first-child, .js--one__date span:first-child {
  font-weight: bold;
}
.js--one__delivery span:nth-child(2), .js--one__address span:nth-child(2), .js--one__date span:nth-child(2) {
  color: #7a797a;
}

.takeaway__title__bold {
  font-size: 2.1rem;
  color: black;
}

.js--title {
  width: 80%;
}

.is--hidden {
  display: none;
}

.checkbox {
  display: flex;
  align-items: center;
}
.checkbox__input {
  display: none;
}
.checkbox__box {
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #cccccc;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  flex-shrink: 0;
  transition: background 0.15s, border-color 0.15s;
}
.checkbox__box::after {
  content: "✓";
  color: white;
  transform: scale(0);
  transition: transform 0.15s;
}
.checkbox__input:checked + .checkbox__box {
  background: blue;
  border-color: blue;
}
.checkbox__input:checked + .checkbox__box::after {
  transform: scale(1);
}

.radio {
  display: flex;
  align-items: center;
}
.radio__input {
  display: none;
}
.radio__box {
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #cccccc;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  flex-shrink: 0;
  transition: background 0.15s, border-color 0.15s;
}
.radio__box::after {
  content: "\a";
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
  border: white 1px solid;
  transform: scale(0);
  transition: transform 0.15s;
}
.radio__input:checked + .radio__box {
  background: blue;
  border-color: blue;
}
.radio__input:checked + .radio__box::after {
  transform: scale(1);
}

.takeaway__payment {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.takeaway__payment__title {
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
}
.takeaway__payment__radio {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0.5rem 0;
}
.takeaway__payment__card label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 0.9rem;
  padding: 0.5rem 0;
}
.takeaway__payment__card input {
  outline: none;
  font-size: 1rem;
  border: 1px solid rgba(122, 121, 122, 0.3);
  padding: 0.5rem;
}
.takeaway__payment__checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.9rem;
  padding: 2rem 0;
}
.takeaway__payment .checkbox-link {
  text-decoration: underline;
  color: #7a797a;
  cursor: pointer;
}
.takeaway__payment__button {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
  background: #1958a3;
  padding: 2rem 1.5rem;
  border: transparent;
  border-radius: 5px;
}
.takeaway__payment__button--blue {
  color: white;
  font-size: 1.1rem;
}
.takeaway__payment__button--svg {
  background: #fdfefe;
  fill: black;
  border: transparent;
  border-radius: 100px;
  padding: 0.6rem;
}
.takeaway__payment__more {
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  padding: 2rem 1.5rem;
  border: transparent;
  border-radius: 5px;
}

.is--hidden {
  display: none;
}

/*# sourceMappingURL=main.css.map */
