html {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
*,
*::before,
*::after {
    font-family: inherit;
    box-sizing: inherit;
}
body {
    color: $color-text;
    background: rgba($color-bg,.3);
}
h1,
h2,
h3 {
    font-weight: bold;
    text-transform: uppercase;
    color: $color-text;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1rem;
}
img {
    width: 100%;
}
a {
    color: inherit;
    text-decoration: none;
}
