$color-text: #fff;
$color-bg: #092650;
$color-border: #d8d8d8;
$color-primary: #006fb2; //generalno, primary boje u projektu su za interaktivne elemente

$btn-color-bg: $color-primary;
$btn-color-text: $color-text;
$btn-color-border: #79d4ff;

