$gaps: (
    container-height: fit-content,
    padding:15px
);
@mixin listStyle (){
    list-style-type: none;
}
.container {
    width: 100%;
    height: map-get($gaps,container-height);
    background-color: royalblue;
    display: block;
}
.navigation-list {
    @include listStyle();
    display:flex;
    justify-content: center;
    gap:35px;
    &-item{
        color: rgb(197, 196, 196);
        font-size: 20px;
        padding: map-get($gaps,padding);
        position: relative;
        &:hover{
            color: white;
            cursor: pointer;
        }
        &-button{
            background-color: transparent;
            color: inherit;
            border: none;
            font-size: 18px;
            &-svg{
                fill: white;
                width: 1em;
                height: 1em;
                transform:rotate(90deg);
            }
        }
    }
    &-item:last-child{
        position: absolute;
        right: 0;
        padding: 10px;
    }
}
.has-dropdown:focus-within .dropdown{
    @include listStyle();
    display: block;
}
.has-dropdown:focus-within svg{
    transition: 300ms;
    transform: rotate(270deg);
}
.dropdown{
    display: none;
    position: absolute;
    top:map-get($gaps,container-height);
    min-width: 100px;
    left: 12px;
    padding: 0.3em;
    background-color: royalblue;
    &-item:not(:last-child){
        border-bottom: 1px white solid;
    }
    &-item:nth-child(2){
        margin: 0.5em 0;
    }
}  

