body{
    background-color: burlywood;
}
h1{
    font-family: 'Trocchi', serif;
    font-size: 45px; 
    font-weight: lighter; 
    line-height: 48px; 
    margin: 0;
}
p.opis1::first-letter{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:lighter;
    font-style:inherit;
}
p.opis1{
    text-decoration: initial;
    letter-spacing: 2px;
}
a {
    display: inline-block;
    text-decoration: none;
    color: black;
}
a.link {
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}
      
a:hover {
    background-color: rgb(230, 213, 213);
    }
      
a:active {
    background-color: black;
}
      
a:visited {
    background-color: #ccc;
}

/*main {
    counter-reset: gradient-counter;
    list-style: none;
    margin: 1.75rem 0;
    padding-left: 1rem;
}*/
li {
    background: white;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    margin: 1rem;
    min-height: 2rem;
    padding: 1rem 1rem 1rem 3rem;
    position:relative;
    font-size: 25px;

}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  .card:hover,:focus{
      background-color: rgb(153, 110, 110);
  }
  .price {
    color: rgb(59, 56, 56);
    font-size: 22px;
  }
table,tr,td {
    border:solid 1px black;
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
th{
    background-color: chocolate;
}
