<!doctype html>
<html>
    <head>
        <title>Modular HTML</title>
    
        <link rel="stylesheet" href = "assets/styles.css">
    </head>
    <body>

    {%block content %}
    <!--content part-->
    {% endblock %}

    </body>
</html>