.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: ease-in-out 300ms;

    @include mq-down("tablet") {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 1rem;
    }

    &__input {
        border: none;
        padding: 0.5rem 0;
        border-bottom: 1px solid $secondary-text-color;
        outline: none;
    }

    &__add-address {
        font-weight: bold;
        font-size: 0.8rem;
        padding: 1rem;
    }

    &__current-address,
    &__credentials,
    &__card {
        @include displayFlex(flex, center, 5px);
        justify-content: space-between;
        font-size: 0.9rem;

        div {
            display: flex;
            align-items: center;
            gap: 5px;

            svg {
                height: 20px;
                width: 20px;
            }

            span:nth-child(2) {
                font-weight: bold;
            }
        }
    }

    &__postnumber {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__link {
        text-decoration: underline;
        font-size: 0.9rem;
    }

    &__card {
        input {
            width: 100%;
        }
    }
    &__credentials__checkbox {
        font-size: 0.9rem;
    }

    &__button {
        display: block;
        border: 1px solid rgba(122, 121, 122, 0.3);
        padding: 0.8rem;
        border-radius: 100px;
        color: #fff;
        background: gray;
        width: 100%;

    
    }
}

.takeaway__accepted{
    display: flex;
    flex-direction: column;
    gap: 5px;

    &__info {
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
    }

    &__title{
        font-weight: bold;
        font-size: 1.2rem;
        color: gray;
        padding-bottom: 2rem;
    }

    &__link {
        text-decoration: underline;
        font-size: .9rem;
    }

    &__details{
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: .9rem;
    }


}

