@include checkboxStyles();
@include radioStyles();

.takeaway__payment {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    
    &__title {
        font-weight: bold;
        font-size: 1.5rem;
        padding-top: 1rem;
        padding-bottom: 2.5rem;
    }

    &__radio {
        @include displayFlex(flex, center, 8px);
        padding: 0.5rem 0;
    }

    &__card {
        label {
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-size: 0.9rem;
            padding: 0.5rem 0;
        }

        input {
            outline: none;
            font-size: 1rem;
            border: $border-bottom-gray;
            padding: 0.5rem;
        }
    }

    &__checkbox {
        @include displayFlex(flex, center, 8px);
        font-size: 0.9rem;
        padding: 2rem 0;
    }

    .checkbox-link {
        text-decoration: underline;
        color: $secondary-text-color;
        cursor: pointer;
    }

    &__button {
        display: flex;
        align-items: center;
        gap: 5px;
        justify-content: space-between;
        background: #1958a3;
        padding: 2rem 1.5rem;
        border: transparent;
        border-radius: 5px;

        &--blue {
            color: white;
            font-size: 1.1rem;
        }

        &--svg {
            background: #fdfefe;
            fill: black;
            border: transparent;
            border-radius: 100px;
            padding: 0.6rem;
        }
    }

    &__more {
        display: flex;
        flex-direction: column;
        background: #f5f5f5;
        padding: 2rem 1.5rem;
        border: transparent;
        border-radius: 5px;
    }
}

.is--hidden {
    display: none;
}

