//"prihvaćanje" informacija i zatvaranje prvog menu-a u takeaway pageu
.is--hidden {
    display: none;
}

//mijenjanje stilova brojeva pored menu-a
.--one-closed {
    span {
        background: transparent;
        color: $secondary-text-color;
        border: 1px solid $secondary-text-color;
        border-radius: 100px;
        padding: 0.3rem 0.6rem;
    }
}
.--two-open{
    span{
        background: #000;
        color: white;
        border: transparent;
        border-radius: 100px;
        padding: 0.3rem 0.5rem;
    }
}

//prikaz nove sekcije s prihvaćenim informacijama
.section__show{
    display: none;
}

.js--one {
    grid-column-start: 2;
    grid-column-end: 6;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-bottom: $border-bottom-gray;
    padding: 1rem 0;

    &__info {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
    }

    &__title {
        font-weight: bold;
    }

    &__link {
        text-decoration: underline;
    }

    &__delivery,
    &__address,
    &__date {
        display: flex;
        flex-direction: column;
        gap: 5px;

        span:first-child {
            font-weight: bold;
        }
        span:nth-child(2) {
            color: $secondary-text-color;
        }
    }
}

.takeaway__title__bold {
    font-size: 2.1rem;
    color: black;
}

