.takeaway {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: 2rem 0;
    // position: relative;
    
    &__section {
        grid-column-start: 2;
        grid-column-end: 6;
        display: flex;
        flex-direction: column;
        gap: 15px;
        border-bottom: $border-bottom-gray;
        padding: 1rem 0;

        &__title {
            font-size: 1.5rem;
            font-weight: bold;

            &--alternative {
                display: flex;
                align-items: center;
                color: $secondary-text-color;
                padding: 1rem 0;
                font-size: 1.3rem;
                font-weight: bold;
            }
        }
    }

    &__address {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;

        div:nth-child(2) {
            font-weight: bold;
        }
    }

    &__link {
        text-decoration: underline;
    }

    &__choice {
        @include displayFlex(flex, center, 10px);
        border-bottom: $border-bottom-gray;

        button:focus{
            border-bottom: 3px solid $color-blue;
        }
    }

    &__number {
        grid-column-start: 1;
    }
}
.--one {
    padding-top: 1.5rem;
    border-bottom: $border-bottom-gray;

    span {
        background: #000;
        color: white;
        border: transparent;
        border-radius: 100px;
        padding: 0.3rem 0.6rem;
    }
}
.--two,
.--three,
.--four {
    display: flex;
    align-items: start;
    padding: 1.8rem 0;
    border-bottom: $border-bottom-gray;

    span {
        background: transparent;
        color: $secondary-text-color;
        border: 1px solid $secondary-text-color;
        border-radius: 100px;
        padding: 0.3rem 0.5rem;
    }
}
.--two {
    grid-row-start: 2;
}
.--three {
    grid-row-start: 3;
}
.--four {
    grid-row-start: 4;
}
