*{
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.combobox-label{
    font-size: 1rem;
    font-weight: bold;
    margin-right: 10px;
}
.combobox-wrapper{
    display: inline-block;
    font-size: 1rem;
    position: relative;
}
.combobox-input{
    font-size: inherit;
    line-height: 1.5em;
    border:1px solid #aaa;
    border-radius:3px;
    width:200px;
}
.combobox-listbox{
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
    margin:0;
    background: white;
    border: 1px solid #aaa;
    position: absolute;
    width:100%;
    top:100%;
}
.combobox-listbox .result{
    padding:0.25em;
}
.combobox-listbox .result:hover{
    background: rgb(139,189,225);
    cursor: pointer;
}
.combobox-listbox .result.highlighted {
    background: rgb(139,189,225);
}
.submit-btn{
    margin-top:2rem;
}
.hidden{
    display: none;
}